<section class="tout" id="interests">
    <div class="container">
      <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Interests</h2>
                <hr />
            </div>
        </div>
            <div class="row">
                <div class="col-sm-6">
		    <p>
			    My personal interests include:
        </p>
			<ul>
			  <li>
				 <b>Technology</b>. In this time and age, new technology keeps popping up here and there. I love to read up on it and if I can get my hands on it or learn it, all the more better. 
			  </li>
			  <li>
				  <b>Video Games</b>. Since early teenage years, I am a avid fan of video games and a hardcore PC gamer.
			  </li>
			  <li>
				  <b>Travelling</b>. I love to travel. Whenever I get a chance (read holiday), I tend to head out to low population or remote areas, to find inner peace and serenity.
      </li>
			</ul>
		</div>
    <div class="col-sm-6">
      <h3 style="margin-top:0">Recent Projects</h3>
		  <ul>
  			<li>
			 I have been working on a project that will try to solve the traffic problem in the city of Karachi. It's in early stages, so I won't be mentioning any details here ;)
    		</li>
  		    </ul>
  		    <h3>Other Things</h3>
  		    <ul>
  			<li>
            Volunteer at local animal shelters.
  			</li>
  			<li>
  			  Enrolled in a very exciting "Entrepreneurship" course, taught by Sir Zia.
  			</li>
		   </ul>
      </div>
    </div>
  </div>
</section>
